<a href="https://colab.research.google.com/github/kalyannaik17/Assignments/blob/main/day6_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 1 question

import pandas as pd
data = {
    'Name': ['John', 'Alice', 'Bob', 'Diana'],
    'Age': [28, 34, 23, 29],
    'Department': ['HR', 'IT', 'Marketing', 'Finance'],
    'Salary': [45000, 60000, 35000, 50000]
}
df = pd.DataFrame(data)
print(df)


# 2 question
import pandas as pd
data = {
    'Employee_ID': [1, 2, 3, 4, 5],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [23, 30, 28, 35, 22],
    'Salary': [50000, 60000, 55000, 70000, 45000]
}
df = pd.DataFrame(data)
print("First 2 rows of the DataFrame:")
print(df.head(2))
df['Bonus'] = df['Salary'] * 0.10
average_salary = df['Salary'].mean()
print("\nAverage Salary of employees:", average_salary)
filtered_df = df[df['Age'] > 25]
print("\nEmployees older than 25:")
print(filtered_df)

    Name  Age Department  Salary
0   John   28         HR   45000
1  Alice   34         IT   60000
2    Bob   23  Marketing   35000
3  Diana   29    Finance   50000
First 2 rows of the DataFrame:
   Employee_ID   Name  Age  Salary
0            1  Alice   23   50000
1            2    Bob   30   60000

Average Salary of employees: 56000.0

Employees older than 25:
   Employee_ID     Name  Age  Salary   Bonus
1            2      Bob   30   60000  6000.0
2            3  Charlie   28   55000  5500.0
3            4    David   35   70000  7000.0